<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="all-canditats.component.css" />
  </head>
  <body>
    <div class="all-canditates">
      <div class="div">
        <div class="rectangle">
          <div class="text-wrapper">Name</div>
          <div class="text-wrapper-2">Role</div>
          <div class="text-wrapper-3">Email</div>
          <div class="text-wrapper-4">Number</div>
        </div>
        <div class="overlap">
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="name">Wafa Adham</div>
              <div class="role">Engineering</div>
              <input class="email" placeholder="wafa@gmail.com" type="email" />
              <div class="number">0599663315</div>
            </div>
          </div>
          <img class="x-button" src="https://c.animaapp.com/m9h1j2g450AJ5V/img/x-button-1.svg" />
          <img class="img" src="https://c.animaapp.com/m9h1j2g450AJ5V/img/x-button.svg" />
        </div>
        <div class="rectangle-2">
          <div class="name">Kareem Halawah</div>
          <div class="role">Team Leader</div>
          <input class="email" placeholder="kareem@gmail.com" type="email" />
          <div class="number">0596545433</div>
        </div>
        <div class="rectangle-3">
          <div class="name">Lana Khdier</div>
          <div class="role">Angular Developer</div>
          <input class="email" placeholder="lana@gmail.com" type="email" />
          <div class="number">0569832179</div>
        </div>
        <div class="rectangle-4">
          <div class="name">Ragheed kamal</div>
          <div class="role">UI/UX Designer</div>
          <input class="email" placeholder="ragheed@gmail.com" type="email" />
          <div class="number">0595533060</div>
        </div>
        <div class="rectangle-5">
          <div class="name">Farah Shaheen</div>
          <div class="role">React Developer</div>
          <input class="email" placeholder="farah@gmail.com" type="email" />
          <div class="number">0596843255</div>
        </div>
        <div class="rectangle-6">
          <div class="name">Lamies Kamal</div>
          <div class="role">FullStack Developer</div>
          <input class="email" placeholder="lamies@gmail.com" type="email" />
          <div class="number">0598754623</div>
        </div>
        <div class="rectangle-7">
          <div class="name">Basmala Shtaia</div>
          <div class="role">Backend Developer</div>
          <input class="email" placeholder="basmala@gmail.com" type="email" />
          <div class="number">0598550011</div>
        </div>
        <div class="rectangle-8">
          <div class="name">Basmala Shtaia</div>
          <div class="role">Backend Developer</div>
          <input class="email" placeholder="basmala@gmail.com" type="email" />
          <div class="number">0598550011</div>
        </div>
        <div class="rectangle-9">
          <div class="name">Wafa Adham</div>
          <div class="role">Engineering</div>
          <input class="email" placeholder="wafa@gmail.com" type="email" />
          <div class="number">0599663315</div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-5">All Canditates</div></div>
      </div>
    </div>
  </body>
</html>
