<main class=" rounded-3">
  <div class="  rounded-3">
    <div  class="d-flex justify-content-center align-items-center" >

      <app-header [headerText]= "'Reset password'"></app-header>

    </div>
    <p  class="d-flex justify-content-center align-items-center" >No worries! Just enter your email, and we’ll send you a code to reset your password. </p>
    <div class="content mt-4" >

      <div class="my-3">
        <app-label [labelText]="'Email'" ></app-label>
        <app-input [submitted]="submitted" [type]="'email'" [placeholder]="'Email Address'" [required]="true" [requiredMessage]="'Email is required'" icon="bi bi-envelope"></app-input>
      </div>


    </div>


    <div class="mt-4">
      <app-button class="d-flex justify-content-center align-items-center" text="Send code" [linkTo]="'enterCode'" ></app-button>
    </div>



  </div>
</main>
