main{
  background-color: #3659A2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
main > div{
  width: 90%;
  height: 85%;
  background-color:#DDE5F4;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.content{
  margin-left: 3rem;

}
@media (min-width: 768px) {
  .content{
    margin-left: 8rem;
  }

}
@media (min-width: 992px) {
  .content{
    margin-left: 12rem;

  }
}
a{
  color: #3659A2 !important;
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover{
  font-size: 1.15rem;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
