<main class=" rounded-3">
  <div class="  rounded-3">

    <app-header class="mt-3 d-flex align-items-center justify-content-center" [headerText]= "'Change password'"></app-header>
    <div class="content mt-4" >
      <div class="my-3">
        <app-label [labelText]="'Current Password'" ></app-label>
        <app-input [submitted]="submitted" [type]="'Password'" [placeholder]="'###'" [required]="true" [requiredMessage]="'Email is required'" icon="bi bi-envelope"></app-input>
      </div>
      <div class="my-3">
        <app-label [labelText]="'New password'"  ></app-label>
        <app-input  [submitted]="submitted" [type]="'Password'" [placeholder]="'###'" [required]="true" [requiredMessage]="'password is required'" icon="bi bi-envelope"></app-input>
      </div>
      <div class="my-3">
        <app-label [labelText]="'Confirm new password'"  ></app-label>
        <app-input  [submitted]="submitted" [type]="'Password'" [placeholder]="'###'" [required]="true" [requiredMessage]="'password is required'" icon="bi bi-envelope"></app-input>
      </div>

    </div>

    <div class="mt-4">
      <a routerLink="resetPassword" class="d-flex justify-content-center align-items-center mb-3">Forget Password?</a>
      <app-button class="d-flex justify-content-center align-items-center" text="Save" [linkTo]="'changePasswordSuccess'"></app-button>
    </div>


  </div>
</main>
