<main class=" rounded-3">
  <div class="  rounded-3">
    <div  class="d-flex justify-content-center align-items-center" >

      <app-header [headerText]= "'Reset password'"></app-header>
    </div>
    <div class="content mt-4" >
      <div class="my-3">
        <app-label [labelText]="'New password'" ></app-label>
        <app-input [submitted]="submitted" [type]="'email'" [placeholder]="'###'" [required]="true" [requiredMessage]="'Email is required'" icon="bi bi-envelope"></app-input>
      </div>
      <div class="my-3">
        <app-label [labelText]="'Confirm new password'"  ></app-label>
        <app-input  [submitted]="submitted" [type]="'password'" [placeholder]="'###'" [required]="true" [requiredMessage]="'password is required'" icon="bi bi-envelope"></app-input>
      </div>
    </div>


    <div class="mt-4">
      <app-button class="d-flex justify-content-center align-items-center" text="Save" [linkTo]="'resetPasswordSuccess'" ></app-button>
    </div>


  </div>
</main>
