<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Jobs Listing</title>
    <link rel="stylesheet" href="all-job.component.css" />
  </head>
  <body>
    <main class="viewalljobs">
      <section class="job-listings">
        <h1 class="page-title">All Jobs</h1>
        <ul class="job-list">
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
          <li class="job-item">
            <article class="job-card">
              <h2 class="job-title">Digital Marketing Executive</h2>
              <div class="company-info">
                <img
                  class="company-icon"
                  src="https://c.animaapp.com/m9gz8aij2H29Nr/img/vector.svg"
                  alt="Company icon"
                />
                <span class="company-name">Company Name</span>
              </div>
              <div class="job-details">
                <div class="location">
                  <img
                    class="location-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/marker-02.svg"
                    alt="Location icon"
                  />
                  <span class="location-name">Sacramento, California</span>
                </div>
                <div class="publish-date">
                  <img
                    class="date-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/date-today-light.png"
                    alt="Date icon"
                  />
                  <span class="publish-text">Published 11 months ago</span>
                </div>
                <div class="job-type">
                  <img
                    class="type-icon"
                    src="https://c.animaapp.com/m9gz8aij2H29Nr/img/favourite.svg"
                    alt="Job type icon"
                  />
                  <span class="type-text">Full Time</span>
                </div>
              </div>
              <p class="salary-range">$ 1200 - $ 2500</p>
            </article>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>